<div class="row">
  <div class="container">
      <h1>Students</h1>
  </div>
</div>
<div class="row">
  <div class="container">
    <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Edad</th>
      </tr>
      <% @students.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.email %></td>
        <td><%= s.age %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
